# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# SQLite DB (if just for dev)
*.sqlite3

# IDE folders
.idea/
.vscode/

# macOS system file
.DS_Store
